@import 'bulma/css/bulma.min.css';

/*
 * Fichier: src/css/input.css
 * Description: Point d'entrée pour la compilation PostCSS.
 */

/* 1. Importation des directives de base de Tailwind CSS. */
@tailwind base;

/* 2. Importation de Bulma. */

/* 3. Importation des composants et utilitaires de Tailwind.
 * DaisyUI est injecté automatiquement ici car il est configuré comme un plugin.
 */
@tailwind components;
@tailwind utilities;

/* 4. Styles personnalisés de l'application. */
@layer components {
    /* Style pour le spinner de chargement dans les boutons */
    .btn .loading-spinner {
        display: none;
    }
    .btn.loading .loading-spinner,
    .btn:disabled .loading-spinner {
        display: inline-block;
    }
    .btn.loading > *:not(.loading-spinner),
    .btn:disabled > *:not(.loading-spinner) {
        display: none;
    }
    .btn.loading > .loading-spinner + *,
    .btn:disabled > .loading-spinner + * {
        display: inline-block;
    }
}